.DeviceMockup {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 14em;
  height: 28em;
}

.DeviceMockup--backdrop {
  position: absolute;
  pointer-events: none;
}

.DeviceMockup--backdrop-blob1 {
  top: -136%;
  left: -70%;
  height: 421%;
  width: 616%
}

.DeviceMockup--backdrop-blob2 {
  top: -242%;
  right: -70%;
  height: 580%;
  width: 730%;
}

.DeviceMockup--backdrop-blob3 {
  top: -300%;
  left: -30%;
  height: 550%;
  width: 500%;
}

.DeviceMockup--device {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2.5em .375em;
  background: #fff;
  border-radius: 1.75em;
  box-shadow: inset 0 .25em .5em .0625em #fff, inset 0 -.3em 1em rgba(var(--black-purple-rgb), .15), 0 .125em .375em rgba(var(--black-purple-rgb), .05), 0 .5em 1em rgba(var(--black-purple-rgb), .1);
}

.DeviceMockup--device-display {
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 0 .0625em rgba(var(--black-purple-rgb), .1);
  border-radius: .25em;
  background: rgba(var(--black-purple-rgb), .2);
}
