.FooterSection--column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 2em 36em;
  width: 100%;
}

.FooterSection--content {
  position: relative;
  z-index: 2;
  margin-bottom: 2em;
}

.FooterSection--backdrop-blob4 {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: -24em;
  width: 144em;
  left: -500em;
  right: -504em;
  margin-left: auto;
  margin-right: auto;
}
