.HeroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 32em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.HeroSection--content {
  display: block;
  text-align: center;
  width: 40em;
  padding-bottom: 3.5em;
  max-width: 100%;
}

.HeroSection--logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.HeroSection--title {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.HeroSection-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroSection-actions > a:not(:last-child) {
  margin-right: 1em;
}

@media (max-width: 768px) {
  .HeroSection {
    min-height: auto;
  }

  .HeroSection {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .HeroSection--content {
    padding-bottom: 0;
  }

  .HeroSection--logo {
    margin-bottom: 3em;
  }

  .HeroSection--title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}
