.PrivacySection--column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 2em 26em;
  width: 100%;
}

.PrivacySection--device-mockup {
  position: relative;
  z-index: 1;
  margin-right: 8em;
}

.PrivacySection--content {
  position: relative;
  z-index: 2;
}
