.SectionCopy {
  display: flex;
  width: 24em;
  text-align: left;
}

.SectionCopy.SectionCopy-is-right {
  justify-content: flex-end;
}

.SectionCopy--title {
  font-size: 1.75em;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: .5em;
}

.SectionCopy--description p:not(:last-child) {
  margin-bottom: .5em;
}

.SectionCopy.SectionCopy-is-centered {
  display: block;
  width: 30em;
  text-align: center;
}

.SectionCopy.SectionCopy-is-centered .SectionCopy--title,
.SectionCopy.SectionCopy-is-centered .SectionCopy--description {
  margin-left: auto;
  margin-right: auto;
}
